body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem ;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    gap: 0.5rem;
    background-color:aqua;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-areas:  '1 2 3 4';*/
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    
}
.grid-container:hover{
    background-color:rgb(66, 253, 191);
}

.item:hover{
    background-color: aqua;
}


